@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap');

Body{
    background-image: url("https://res.cloudinary.com/dvabvj55g/image/upload/v1627611388/media/Background_rjrdkr.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px ;
}

.Login{
    position: absolute;
    width: 450px;
    height: 500px;
    margin: auto;
    top: 31.2%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 45px;
  
}

.Login h1{
    position: relative;
    left: 38%;
    color: azure;
    font-family: "Gowun Batang", sans-serif;

}

.Login h3{
    position: relative;
    text-align: center;
    color: rgba(240, 255, 255, 0.582);
    font-family: "Gowun Batang", sans-serif;
}

.Login p{
    position: relative;
    color: azure;
    top: 4em;
    left: 7.6em;
    font-family: "Gowun Batang", sans-serif;
    text-decoration: underline;
    cursor: pointer;
    width: 202px;
}

._username{
    position: relative;
    background-color: rgba(196, 196, 196, 0.774);
    border-radius: 45px;
    border-color: transparent;
    border-width: 2.5px;
    text-align: center;
    top: 1em;
    left: 15%;
    height: 50px;
    width: 300px;
    outline-width: 0;
    
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

._password{
    position: relative;
    background-color: rgba(196, 196, 196, 0.774);
    border-radius: 45px;
    border-color: transparent;
    border-width: 2.5px;
    text-align: center;
    top: 3em;
    left: 15%;
    height: 50px;
    width: 300px;
    outline-width: 0;
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

.login_button{
    position: relative;
    top: 4em;
    left: 32.5%;
    border-radius: 15px;
    height: 35px;
    width: 150px;
    background-color: rgb(16, 86, 150);
    border-color: transparent;
    border-style: solid;
    color: azure;
    font-size: large;
    font-family: "Gowun Batang", sans-serif;
}

.login_button:hover{
    background-color: transparent;
    background-color: rgb(11, 66, 117);
    color: aliceblue;
    cursor: pointer;

}

.Login img{
    position: absolute;
    size: 5cm;
    height: 250px;
    width: 250px;
    margin: auto;
    top: -20cm;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile{
    position: absolute;
    margin: auto;
    top: -10.75cm;
    left: 0;
    right: 7cm;
    bottom: 0;
    width: 2em;
    height: 2em;
    z-index: 50;
}

.lock{
    position: absolute;
    margin: auto;
    top: -5.6cm;
    left: 0;
    right: 7cm;
    bottom: 0;
    width: 2em;
    height: 2em;
}