.doctorContainer{
    margin: 0 auto;
    text-align: center;  
}
.doctorimg img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    margin-top: 30px;
}

.doctorname{
    font-size: x-large;
    color: white;
    font-family: "Montserrat";
}
.dr__Button {
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4em;
    border: white;
    color: white;
    background-color: #4BA59F;
    height: 40px;
    width: 110px;
    border-radius: 25px;
    font-size: large;

}

.dr__Button:hover{
    background-color: #297973;
    cursor: pointer;
    z-index: 50;
}