@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.links{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 700;
}

.links .About_log{
    top: 0.5%;
    right: 1%;
    position: absolute;
    color: azure;
}

.links .Line_log{
    position: absolute;
    color: azure;
    top: -3%;
    right: 5%;
    height: 20cm;
    font-size: 1cm;
}

.links .Sign_log{
    top: 0.5%;
    right: 1%;
    position: absolute;
    color: azure;
}
