@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap');

Body{
    background-image: url("https://res.cloudinary.com/dvabvj55g/image/upload/v1627611388/media/Background_rjrdkr.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px ;
}

.Login{
    position: absolute;
    width: 450px;
    height: 500px;
    top: 25%;
    right: 36.5%;
    background-color: rgba(29, 27, 27, 0.61);
    border-radius: 45px;
  
}

.Login h1{
    position: relative;
    left: 38%;
    color: azure;
    font-family: "Gowun Batang", sans-serif;

}

.Login h3{
    position: relative;
    text-align: center;
    color: rgba(240, 255, 255, 0.582);
    font-family: "Gowun Batang", sans-serif;
}

.Login p{
    position: relative;
    color: azure;
    top: 4em;
    left: 8.9em;
    font-family: "Gowun Batang", sans-serif;
}

._username{
    position: relative;
    background-color: black;
    border-radius: 45px;
    border-color: rgb(0, 110, 255);
    border-width: 2.5px;
    text-align: center;
    top: 1em;
    left: 15%;
    height: 50px;
    width: 300px;
    outline-width: 0;
    color: azure;
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

._password{
    position: relative;
    background-color: black;
    border-radius: 45px;
    border-color: rgb(0, 110, 255);
    border-width: 2.5px;
    text-align: center;
    top: 3em;
    left: 15%;
    height: 50px;
    width: 300px;
    outline-width: 0;
    color: azure;
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

.login_button{
    position: relative;
    top: 4em;
    left: 32.5%;
    border-radius: 15px;
    height: 35px;
    width: 150px;
    background-color: black;
    border-color: aquamarine;
    border-style: solid;
    color: azure;
    font-size: large;
    font-family: "Gowun Batang", sans-serif;
}

.login_button:hover{
    background-color: aquamarine;
    border-color: rgb(17, 189, 131);
    color: black;

}