@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap');

Body{
    background-image: url("https://res.cloudinary.com/dvabvj55g/image/upload/v1627611388/media/Background_rjrdkr.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px ;
}

.Sign_up{
    position: absolute;
    width: 450px;
    height: 500px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 45px;
  
}

.Sign_up img{
    position: absolute;
    margin: auto;
    top: -12cm;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    width: 250px;
}

.p_username{
    color: black;
    position: absolute;
    background-color: rgba(196, 196, 196, 0.774);
    border-radius: 45px;
    border-color: transparent;
    border-width: 2.5px;
    text-align: center;
    top: 31%;
    left: -100px;
    height: 50px;
    width: 300px;
    outline-width: 0;
    
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

.p_password{
    position: absolute;
    background-color: rgba(196, 196, 196, 0.774);
    border-radius: 45px;
    border-color: transparent;
    border-width: 2.5px;
    text-align: center;
    top: 31%;
    left: 250px;
    height: 50px;
    width: 300px;
    outline-width: 0;
    
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

.p_confirm_password{
    position: absolute;
    background-color: rgba(196, 196, 196, 0.774);
    border-radius: 45px;
    border-color: transparent;
    border-width: 2.5px;
    text-align: center;
    top: 52%;
    left: 250px;
    height: 50px;
    width: 300px;
    outline-width: 0;
    
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

.p_email{
    position: absolute;
    background-color: rgba(196, 196, 196, 0.774);
    border-radius: 45px;
    border-color: transparent;
    border-width: 2.5px;
    text-align: center;
    top: 52%;
    left: -100px;
    height: 50px;
    width: 300px;
    outline-width: 0;
    
    font-size: larger;
    font-family: "Gowun Batang", sans-serif;
    border-style: solid;
}

.sign_up_button{
    position: relative;
    top: 20em;
    left: 34%;
    border-radius: 15px;
    height: 35px;
    width: 150px;
    background-color: rgb(16, 86, 150);
    border-color: transparent;
    border-style: solid;
    color: azure;
    font-size: large;
    font-family: "Gowun Batang", sans-serif;
}

.sign_up_button:hover{
    background-color: transparent;
    background-color: rgb(11, 66, 117);
    color: aliceblue;
    cursor: pointer;

}

.p_User{
    position: absolute;
    top: 4.41cm;
    left: -2.3cm;
}

.p_Mail{
    position: absolute;
    top: 7.2cm;
    left: -2.3cm;
}

.p_Lock{
    position: absolute;
    top: 4.41cm;
    right: 4.1cm;

}

.p_Key{
    position: absolute;
    top: 7.2cm;
    right: 4.1cm;
}